// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* System Fonts as used by GitHub */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.question-card,
.question-card:link,
.question-card:hover {
    color: initial;
}

.question-card {
    &:hover {
        background-color: $jumbotron-bg;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
