// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.no-anchor-color,
.no-anchor-color:link,
.no-anchor-color:hover {
    color: initial;
}

.question-card {
    &:hover {
        background-color: $jumbotron-bg;
    }
}

.header {
    &:hover {
        background-color: $jumbotron-bg;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
