// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.question-card,
.question-card:link,
.question-card:hover {
    color: initial;
}

.question-card {
    &:hover {
        background-color: $jumbotron-bg;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
